<?xml version="1.0" encoding="utf-8"?>

<configuration>
    
    <appSettings>
        <add key="application-port" value="5000"/>
        <add key="application-name" value="DotNetSeleniumTestsExampleSite"/>
        <add key="application-host" value="localhost"/>
        <add key="run-chrome-headless" value="false"/>
    </appSettings>
</configuration>